<%if current_user && current_user.admin?%>
<p id="notice"><%= notice %></p>

<h1>Students</h1>
<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>class</th>
      <th>Status...........</th>
      <th>marked as................... </th>
    </tr>
  </thead>

  <tbody id = "students">
     <%= render @students %>
  </tbody>
</table>

<br>

<%= link_to 'New student', new_student_path %>

<%end%>